@model Prueba2.Models.SolicitarAdopcion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SolicitarAdopcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazAdopcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazAdopcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actividades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actividades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoFuera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoFuera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Viaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Viaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MasCasa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MasCasa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Veterinaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Veterinaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstEconomica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstEconomica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vivienda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vivienda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainMascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainMascota.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMascotas">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
