@model Prueba2.Models.MascotasEnAdopcion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MascotasEnAdopcion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorOjos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorOjos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColorPelaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColorPelaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondMedica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondMedica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescAnimal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RazDecision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RazDecision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmaRespaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmaRespaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelRespaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelRespaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Administrador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Administrador.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellidos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMasAdopcion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
