@model Prueba2.Models.Clientes

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clientes</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraMomento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraMomento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
